:host {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.root {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

::ng-deep .pending-popover-container {
  background-color: #67696b;
  border-radius: 0;
}

::ng-deep ul.pending-popover-list {
  list-style: none;
  color: #c8c8c9;
  padding: 0;
  margin: 0;
}

::ng-deep ul.pending-popover-list li {
  padding-left: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}

::ng-deep .popover .arrow::after,
::ng-deep .popover .arrow::before {
  border-right-color: #67696b;
}
