<div class="wrapper">
  <p class="text">
    This system is operated by the Depository Trust & Clearing Corporation (“DTCC”) and may be accessed only by the
    authorised users for approved purposes. Unauthorized access and use of this system is strictyly prohibited by DTCC
    and by the law and may result in criminal or civil penalties. The use of this system may be monitored, recorded,
    and subject to audit. Anyone accessing this system consents to such monitoring and recording. Information obtained
    by DTCC through such monitoring and recording may be disclosed to persons within or outside the company.
  </p>
  <p class="text">
    By logging on, you certify that you have read and understand the DTCC Terms of Use and Important Legal Information
    and Privacy Policy and intend to form a binding agreement with DTCC on those terms without modification or
    amendment thereto.
  </p>
  <p class="text">
    We may place cookies and local shared objects on your computer. By using our website, you consent to this. See our
    Privacy Policy for more information.
  </p>
</div>
