<div class="dialog">
  <div class="side-panel-title">
    <div class="col-12">
      <div class="d-block header">
        Trade Details
      </div>
      <div class="d-block details">
        {{(obligation$ | async)?.ticker}} | {{(obligation$ | async)?.cusip}}
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 30px">
    <div class="col-12">
      <dtcc-datagrid 
        [isBasicGrid]="isBasicGrid" [gridOptions]="gridOptions" [gridConfig]="gridConfig" [rowData]="trades$ | async"
        [viewColumnDefs]="columnDefs">
      </dtcc-datagrid>
    </div>
  </div>
</div>
