:host {
  border-top-style: solid;
  border-top-width: 5px;
  border-top-color: #0096d6;
  display: block;
}

.content {
  height: 335px;
  display: flex;
  flex-direction: row;
}

.left {
  flex-basis: 50%;
  display: flex;
  padding: 30px 40px 42px 40px;
}

.right {
  flex-basis: 50%;
  display: flex;
  padding: 45px 40px;
}
