<div class="wrapper">
  <div class="status">
    <ion-schedule-status type="cash" title="Intraday Cash Settlement Trigger"
      description="The Intraday Cash Settlement triggers the exchange of funds for previously settled transactions."
      [message]="inProgressMessage$ | async" [progress]="progress$ | async"
      [settlementDate]="settlementDate$ | async" (settlementDateChange)="onSettlementDateChange($event)"
      (run)="onRun()"></ion-schedule-status>
  </div>
  <div class="divider"></div>
  <div class="scheduler">
    <ion-schedule-viewer title="Automated Cash Settlement Scheduler" [message]="submitMessage$ | async"
      [schedule]="schedule$ | async" (edit)="openEdit()" (toggle)="onToggle($event)" (clear)="onMessageClear()">
    </ion-schedule-viewer>
  </div>
</div>
<dtcc-modal-base [visible]="edit$ | async" class="medium-dialog" [modalOptions]="modalOptions" (close)="closeEdit()"
  (visibleChange)="!$event && closeEdit()">
  <span header>Edit Schedule</span>
  <div content>
    <ion-schedule-editor *ngIf="edit$ | async" [schedule]="schedule$ | async" (submit)="submitEdit($event)">
    </ion-schedule-editor>
  </div>
</dtcc-modal-base>
