<div class="title">
  Please edit the schedule information as necessary.
</div>
<div class="run-time">
  Run Time
</div>
<div class="description">
  The recurring schedule will run every valid business day (excluding weekends and market holidays) during trading
  hours.
</div>
<div class="time-list">
  <dtcc-select class="start-time" uniqueId="startTime" name="startTime" label="Start Time" leftLabel="false"
    dataProviderField="label" dataProviderFieldValue="id" [dataProvider]="timeslots" [(ngModel)]="startTime">
  </dtcc-select>
  <dtcc-select class="timezone" uniqueId="timezone" name="timezone" label="Timezone" leftLabel="false"
    dataProviderField="label" dataProviderFieldValue="id" [dataProvider]="timezones" [(ngModel)]="timezone">
  </dtcc-select>
</div>
<button class="submit dtcc-component btn btn-primary small" (click)="onSubmit()">Submit</button>
