<ion-form (enter)="enter()">
  <ion-form-item>
    <dtcc-textbox label="Participant ID" required=true name="ParticipantId" class="d-block form-input"
      validateOnChange=true validateOnFocusOut=true [validationError]="participantIdError$ | async"
      [ngModel]="participantId$ | async" (ngModelChange)="onParticipantIdChange($event)">
    </dtcc-textbox>
  </ion-form-item>
  <ion-form-item>
    <dtcc-select required=true clearable="false" class="d-block form-input" label="Transaction Type"
      leftLabel="false" dataProviderField="label" dataProviderFieldValue="id" [dataProvider]="transactionTypes"
      validateOnChange=true validateOnFocusOut=true [ngModel]="transactionType$ | async"
      (ngModelChange)="onTransactionTypeChange($event)">
    </dtcc-select>
  </ion-form-item>
  <ion-form-item>
    <dtcc-datepicker label="Business Date" required=true name="Business Date" class="d-block form-input"
      [ngModel]="businessDate$ | async" validateOnChange=true (ngModelChange)="onBusinessDateChange($event.date)"
      toolTip="Defaults to the current date" tooltipPlacement="bottom">
    </dtcc-datepicker>
  </ion-form-item>
  <ion-form-item>
    <button type="button" [disabled]="searchDisabled$ | async" class="dtcc-component btn btn-primary form-button" (click)="search()">
      Search
    </button>
  </ion-form-item>
  <ion-form-item>
    <button type="button" class="dtcc-component btn btn-secondary form-button reset-button" (click)="reset()">
      Reset
    </button>
  </ion-form-item>
</ion-form>
