:host {
  display: block;
  flex-grow: 1;
}

.login-title {
  font-family: 'Arial Narrow', sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #000000;
  text-align: left;
  margin-bottom: 20px;
  line-height: 27px;
}

.username {
  width: 300px;
  margin-bottom: 20px;
}

.password {
  width: 300px;
  margin-bottom: 20px;
}

.login-button {
  width: 105px;
  height: 30px;
  line-height: 30px;
  background: #0096d6;
  border: none;
  color: #ffff;
  margin-bottom: 20px;
}

.forgot .text {
  font-size: 12px;
  color: #999999;
  text-align: left;
  margin-bottom: 5px;
  margin-top: 0px;
}

.forgot .link {
  font-size: 12px;
  color: #0096d6;
  text-align: left;
  line-height: 14px;
}
