<div class="header">
  <div class="left">
    <div class="icon"><i aria-hidden="true" class="fa fa-exclamation-triangle mani-icon"></i></div>
    <div class="title">Login failed</div>
  </div>
  <div class="right">
    <div class="close" (click)="close()"><i aria-hidden="true" class="close-button fa fa-times"></i></div>
  </div>
</div>
<div class="message">
  You have entered an invalid Username or Password. Please re-enter your user information.
</div>

<!-- <dtcc-messagebox type="danger" title="Login failed" (close)="close()">
  You have entered an invalid Username or Password. Please re-enter your user information.
</dtcc-messagebox> -->
