<div class="summary">
  <div class="row" style="margin: 15px;">
    <div class="col-12">
      <dtcc-datagrid [style.height]="defaultGridHeight" [defaultGridHeight]="defaultGridHeight"
        [isBasicGrid]="isBasicGrid" [gridOptions]="gridOptions" [gridConfig]="gridConfig" [rowData]="summary.trades"
        [viewColumnDefs]="columnDefs" [showActionBar]="showExportButton" [showExportButton]="showExportButton">
      </dtcc-datagrid>
    </div>
  </div>

  <div class="row" style="margin: 15px;">
    <div class="col-12">
      <button class="dtcc-component btn btn-primary form-button"
        (click)="submit()">Submit</button>
      </div>
  </div>

</div>
